# ignore everything by convention
/*

# include this file
!/.gitignore

# include readme
!/README.md

# include all versions of rules
!/Rules/

# include all election results
!/Elections/
